Connected Services/UniversalServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://124.124.15.43:800/WebAggWCFUAT/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://124.124.15.43:800/WebAggWCFUAT/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_commBRIDGEFusionMOTOR_InputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionMOTOR" />
  </wsdl:message>
  <wsdl:message name="IService1_commBRIDGEFusionMOTOR_OutputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionMOTORResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_commBRIDGEFusionHEALTH_InputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionHEALTH" />
  </wsdl:message>
  <wsdl:message name="IService1_commBRIDGEFusionHEALTH_OutputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionHEALTHResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_commBRIDGEFusionTravel_InputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionTravel" />
  </wsdl:message>
  <wsdl:message name="IService1_commBRIDGEFusionTravel_OutputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionTravelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_commBRIDGEFusionIPA_InputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionIPA" />
  </wsdl:message>
  <wsdl:message name="IService1_commBRIDGEFusionIPA_OutputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionIPAResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_commBRIDGEFusionCPA_InputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionCPA" />
  </wsdl:message>
  <wsdl:message name="IService1_commBRIDGEFusionCPA_OutputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionCPAResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_commBRIDGEFusionWC_InputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionWC" />
  </wsdl:message>
  <wsdl:message name="IService1_commBRIDGEFusionWC_OutputMessage">
    <wsdl:part name="parameters" element="tns:commBRIDGEFusionWCResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IService1">
    <wsdl:operation name="commBRIDGEFusionMOTOR">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionMOTOR" message="tns:IService1_commBRIDGEFusionMOTOR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionMOTORResponse" message="tns:IService1_commBRIDGEFusionMOTOR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="commBRIDGEFusionHEALTH">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionHEALTH" message="tns:IService1_commBRIDGEFusionHEALTH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionHEALTHResponse" message="tns:IService1_commBRIDGEFusionHEALTH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="commBRIDGEFusionTravel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionTravel" message="tns:IService1_commBRIDGEFusionTravel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionTravelResponse" message="tns:IService1_commBRIDGEFusionTravel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="commBRIDGEFusionIPA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionIPA" message="tns:IService1_commBRIDGEFusionIPA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionIPAResponse" message="tns:IService1_commBRIDGEFusionIPA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="commBRIDGEFusionCPA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionCPA" message="tns:IService1_commBRIDGEFusionCPA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionCPAResponse" message="tns:IService1_commBRIDGEFusionCPA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="commBRIDGEFusionWC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionWC" message="tns:IService1_commBRIDGEFusionWC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/commBRIDGEFusionWCResponse" message="tns:IService1_commBRIDGEFusionWC_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="commBRIDGEFusionMOTOR">
      <soap:operation soapAction="http://tempuri.org/IService1/commBRIDGEFusionMOTOR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commBRIDGEFusionHEALTH">
      <soap:operation soapAction="http://tempuri.org/IService1/commBRIDGEFusionHEALTH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commBRIDGEFusionTravel">
      <soap:operation soapAction="http://tempuri.org/IService1/commBRIDGEFusionTravel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commBRIDGEFusionIPA">
      <soap:operation soapAction="http://tempuri.org/IService1/commBRIDGEFusionIPA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commBRIDGEFusionCPA">
      <soap:operation soapAction="http://tempuri.org/IService1/commBRIDGEFusionCPA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commBRIDGEFusionWC">
      <soap:operation soapAction="http://tempuri.org/IService1/commBRIDGEFusionWC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://124.124.15.43:800/WebAggWCFUAT/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>